<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.travens">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travens"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.upload.DestinationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.upload.DetectionResultActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.upload.UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.FavouriteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.favourite.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.detailItenarary.DetailItineraryActivity"
            android:exported="false"
            android:parentActivityName=".presentation.ui.detailprofile.DetailProfileActivity" />
        <activity
            android:name=".presentation.ui.detailprofile.DetailProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bangkit.travens"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>