<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.travens">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travens"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.FavouriteDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.ui.favourite.FavouriteActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.ui.signup.SignUpActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.ui.detailItenarary.DetailItineraryActivity"
            android:exported="false"
            android:parentActivityName=".presentation.ui.detailprofile.DetailProfileActivity" />
        <activity
            android:name=".presentation.ui.detailprofile.DetailProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.splashscreen.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
    </application>

</manifest>